<canvas id="canvas"></canvas>
<div class="options">
    <button 
    *ngFor="let option of options; index as i"
    [ngClass]="selectedOption === i ? 'active':'inactive'"
    (click)="selectOption(i)"
    >
        <img [class]="'option-img-' + i" alt="" src="assets/icons/link.svg">
    </button>
</div>
<div class="wrapper">
    <div *ngIf="selectedOption === 0">
        <app-list></app-list>
    </div>
    <div *ngIf="selectedOption === 1">
        <app-carousel></app-carousel>
    </div>
</div>


