.options{
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 1000;

    button{
        padding: 10px;
        position: relative;
        font-size: 26px;
        border: none;
        display: flex;
        justify-content: center;
        text-align: center;
        left: 0;
        border-radius: 5px;
        background-color: black;
        transition: 0.1s;
        cursor: pointer;

        img{
            width: 40px;
            height: 40px;
            filter: invert(100%);
        }

        &:hover{
            left: -20px;
        }
    }
}

.wrapper{
    z-index: 1;
}

#canvas{
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
}