.options{
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 1000;

    button{
        padding: 10px;
        position: relative;
        font-size: 26px;
        border: none;
        display: flex;
        justify-content: center;
        text-align: center;
        left: 0;
        border-radius: 5px;
        background-color: black;
        transition: 0.1s;
        cursor: pointer;
        // border: 3px solid white;

        @for $i from 1 through 4 {
            &:nth-of-type(#{$i}) {
               // background-color: var(--colorAccent + #{$i}) 
            }
        }

        img{
            width: 40px;
            height: 40px;
            // background-image: url('../../../assets/icons/link.svg');
            filter: invert(100%);
        }

        .option-img-1{
            
        }

        &:hover{
            left: -20px;
        }
    }
}

.wrapper{
    z-index: 1;
}

#canvas{
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
}