<main>
    <button class="arrow left" (click)="prevApp()"></button>
    <div class="apps">
        <div class="app" 
        *ngFor='let app of apps; index as i' 
        [style.z-index]="100 - getAbsolute(i - currentApp) * 2"
        [style.left]="(i - currentApp) * 20 + 50 + '%'"
        [style.top]=" 50 +'%'"
        [class]="'type-'+getTypeNumber(app.type)"
        [ngClass]="(i - currentApp) === 0 ? 'active' : 'inactive'"
        (click)='focusOn(i)'>
            <span class="cover"
            [style.opacity]="(getAbsolute(i - currentApp) * 16 + 50) + '%'"></span>
            <img [src]="app.image" alt="" class="image">
            <span class="title">{{app.name}}</span>
            <div class="description">
                <span>{{app.description}}</span>
                <div class="buttons">
                    <button>
                        <img src="assets/icons/code.svg" alt="">
                    </button>
                    <button>
                        <img src="assets/icons/link.svg" alt="">
                    </button>
                </div>
            </div>
        </div>        
    </div>
    <button class="arrow right" (click)="nextApp()"></button>
</main>