main{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
}
.apps-carousel{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    position: relative;

    .app{
        height: calc(200px + 13vh);
        // width: calc(400px + 10vw);
        position: absolute;
        transition: 0.3s ease all, 0.1s transform;

        .cover{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: var(--colorBackground);
            pointer-events: none;
            z-index: 1;
        }

        .image{
            height: 100%;
            position: relative;
        }

        &:not(:hover){
            // transform: none !important;
        }

        &.inactive{
            // box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.082);
            border: 3px solid rgb(0, 0, 0);
            filter: grayscale(100%);
            transform: none !important;
            &:hover{
                cursor: pointer;
            }
        }

        &.active{
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.24);
            filter: none !important;
            height: calc(250px + 13vh);
            // transform: perspective(1000px) translateX(0) translateY(0) translateZ(300px);
            .cover{
                opacity: 0 !important;
            }
        }

        @for $i from 1 through 4 {
            &.type-#{$i} {
                &.active{
                    // background: linear-gradient(var(--colorAccent#{$i}), black);
                    // background-color: var(--colorAccent#{$i});
                    // border-right: 14px solid var(--colorAccent#{$i});
                }
            }
        }
    }
}

.app-about-wrap{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    position: relative;

    .app-about{
        $shadow: 0 0 6px rgba(0, 0, 0, 0.432);
        $background: rgb(56, 56, 56);
        $background-light: rgb(43, 43, 43); 
        width: 80%;
        height: 100%;
        right: 0;
        top: 0;
        // border: 6px solid rgb(70, 70, 70);
        position: absolute;
        padding: 60px 30px;
        display: flex;
        align-items: center;
        flex-direction: column;
        transition: 0.2s;
        box-shadow: $shadow;
        background: $background-light;
        color: rgb(255, 255, 255);
        // background: linear-gradient(rgb(54, 54, 54), var(--colorBackgroundSecondary));

        &::before{
            $padding: -30px;
            $border-width: 0px;
            content: '';
            position: absolute;
            width: calc(100%  - (#{$padding} * 2));
            height: calc(100%  - (#{$padding} * 2));
            left: calc(#{$padding} - #{$border-width} / 2);
            top: calc(#{$padding} - #{$border-width} / 2);
            border: $border-width solid white;
            // box-shadow: $shadow;
            // background-color: $background-light;
            z-index: -1;
            border-radius: 10px;
        }

        > *{
            margin: 20px;
            position: relative;
        }

        @for $i from 1 through 4 {
            &.app-type-#{$i} {
                // background: linear-gradient(var(--colorAccent#{$i}), black);
                // background-color: var(--colorAccent#{$i});
                // border-right: 14px solid var(--colorAccent#{$i}); 
                border-color: var(--colorAccent#{$i});
                .title{
                    &::first-letter{
                        color: var(--colorAccent#{$i});
                    }
                }
            }
        }

        .title{
            position: absolute;
            top: 50%;
            left: 0;
            padding: 10px;
            margin: 0;
            writing-mode: vertical-rl;
            text-orientation: mixed;
            // background-color: var(--colorBackground);
            transform: translate(-50%, -50%);
            font-size: 80px;
            color: white;
            $font-border-size: 4px;
            $font-border-color: black;
            /*
            text-shadow: 
            -$font-border-size 0 $font-border-color, 
            0 $font-border-size $font-border-color, 
            $font-border-size 0 $font-border-color, 
            0 0px -$font-border-size $font-border-color;
            */

            &::first-letter{
                transition: 0.2s ease;
            }
        }
    
        .tags{
            display: flex;

            .tag{
                padding: 5px 10px;
                background-color: var(--colorBackgroundSecondary);
                color: white;
                box-shadow: 0 0 5px black inset;
                font-size: 20px;
            }
        }
    
        .description{
            font-size: 20px;
        }
    
        .buttons{
            position: absolute;
            display: flex;
            left: 0;
            bottom: 10px;
            width: 100%;
            align-items: center;
            justify-content: space-around;

            button{
                border: none;
                background: $background;
                border: 8px solid $background-light;
                padding: 10px 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 150px;
                margin: 30px 10px;
                font-size: 24px;
                transition: 0.1s ease;

                &:hover{
                    background: white;
                }

                img{
                    height: 40px;
                }
            }
        }
    }
}